section.service
	.container 
		+blockBox("We work with", "Amazing Services")
		.service-container
			.service-list
				+serviceItem("../images/img-service-icon1.png","Lorem ipsum dolor sit amet, consectetur adipisicing elit.", "Lorem ipsum dolor sit amet, consectetur adipisicing elit.")
				+serviceItem("../images/img-service-icon2.png","Web Design", "Lorem ipsum dolor sit amet, consectetur adipisicing elit.")
				+serviceItem("../images/img-service-icon3.png","Creativity", "Lorem ipsum dolor sit amet, consectetur adipisicing elit.")
			.service-list
				+serviceItem("../images/img-service-icon1.png","Seo", "Lorem ipsum dolor sit amet, consectetur adipisicing elit.")
				+serviceItem("../images/img-service-icon1.png","Css/Html", "Lorem ipsum dolor sit amet, consectetur adipisicing elit.")
				+serviceItem("../images/img-service-icon1.png","Digital ", "Lorem ipsum dolor sit amet, consectetur adipisicing elit.")
			