section.team 
	.container 
		+blockBox("Who ve are", "Meet our team","Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.")
		.team-list 
			+teamItem
				+teamSocial("#ssdsd")
			+teamItem("./images/img-team2.png","Christopher Campbell","Branding/UX design")
				+teamSocial("#ssdsd")
			+teamItem("./images/img-team3.png","Michael Fertig","Developer")
				+teamSocial("#ssdsd")

section.brand
	.container 
		img(src="./images/img-logos.png" alt="brands")