section.wedo 
	.container 
		+blockBox("Service", "What we do", "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.")
		.wedo-container
			img(src="../images/img-wedo.png").wedo-image
			.wedo-content
				+weboItem("../images/img-wedo-icon1.png","Photography", "Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem optio, eveniet quod quasi officiis eum dolorem rem ut nesciunt. Impedit officiis, culpa laborum inventore in id magni ab laboriosam? Eum. Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio harum debitis aut enim, veritatis mollitia quaerat officia voluptates neque magnam excepturi optio doloremque nam, laboriosam, voluptas hic! Sit, itaque quia?","is-active" )
				+weboItem("../images/img-wedo-icon2.png","Creativity", "Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem optio, eveniet quod quasi officiis eum dolorem rem ut nesciunt. Impedit officiis, culpa laborum inventore in id magni ab laboriosam? Eum. Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio harum debitis aut enim, veritatis mollitia quaerat officia voluptates neque magnam excepturi optio doloremque nam, laboriosam, voluptas hic! Sit, itaque quia?" )
				+weboItem("../images/img-wedo-icon3.png","Web design", "Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem optio, eveniet quod quasi officiis eum dolorem rem ut nesciunt. Impedit officiis, culpa laborum inventore in id magni ab laboriosam? Eum. Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio harum debitis aut enim, veritatis mollitia quaerat officia voluptates neque magnam excepturi optio doloremque nam, laboriosam, voluptas hic! Sit, itaque quia?" )